.footer {
    width: 100%;
    height: 13vw;
    background-color: white;
    box-shadow: -6px 0px 47px 27px rgba(216, 216, 216, 0.26);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14%;
    padding: 10px 0;
    position: fixed; /* Change from relative to fixed */
    bottom: 0;
    left: 0; /* Add this */
    z-index: 100; /* Increased z-index to ensure it stays on top */
}